{
  "presets": [
    ["env", {
      "module": false,
      "useBuiltIns" : true
    }],
  ],
  "env": {
    "test": {
      "presets": ["power-assert"]
    }
  },
  "plugins": [
    "syntax-dynamic-import",
    "transform-class-properties",
    "transform-flow-strip-types",
    "transform-runtime",
    "transform-object-rest-spread"
  ]
}
